.contry-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.visited{
    background-color: bisque;
    color: black;
}
.non-visited{
    background-color: gray;
}























